*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin area{
    width:80%;
   height: 3em;

}

@mixin input {
  border: 1px solid rgb(197, 190, 190);
  border-radius: 1.3em;
  height:4em;
  padding: 1em;
  margin:0.5em;
}

.form-container{
  @include flex;
  width:100%;
  margin-top: 4em;
  .form{
    width:80%;
  }
}

.task-input{
  width:50%;
  @include input;
}

.timer{
  width:20%;
  @include input;
}
.container::-webkit-scrollbar{
  display:none
}

.add-button{
  background-color: black;
  color:white;
  @include input;
  cursor: pointer;
}

.container{
    width:100%;
    height:27em;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    overflow-y: scroll;
     .task-container{
      border: 1px solid rgb(197, 190, 190);
      width:80%;
      border-radius: 1em;
      margin-left: 1em;
     }
     .alarm-container{
      border: 1px solid rgb(197, 190, 190);
      width:20%
     }
  }