*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin area{
    width:80%;
   height: 3em;
}

.form-div{
    margin-top: 2em;
}

.form{
   
    width:100%;
    height:6em;
 @include flex;
  flex-direction: row;
  .title-div{
    margin-right: 2em;

  }
  div{
    width:100%;
  }

  .title-div{
  @include flex;
  }

  .task-div{
    @include flex;
    }
  

  input{
    @include area;
    border: 1px solid rgb(197, 190, 190);
    border-radius: 1.3em;
    padding-left: 10px;
    
  }
  
  button{
    height:3em;
    width:5em;
    border: none;
    background-color: black;
    color: white;
    margin-left:5px;
    border-radius: 1.3em;
  }

}

.container{
  width:100%;
  height:27em;
  display: flex;
  justify-content: center;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  overflow-y: scroll;
   .task-container{
    border: 1px solid rgb(197, 190, 190);
    width:70%
    
   }
   .alarm-container{
    border: 1px solid rgb(197, 190, 190);
    width:20%
   }
}
.container::-webkit-scrollbar{
  display:none
}