*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.output-task{
    width:100%;
    height:2em;
    flex-direction: row;
    margin-top:0.5em;
    border-bottom: 1px solid rgb(227, 220, 220);
 @include flex;
 .task{
    width:80%;
    p{
        font-size: 1.1em;
    }
 }

}

.delete-btn{
    border: none;
    height:1.5em;
    width:2.5em;
    border-radius: 1.3em;
    background-color: black;
    color:white;
}
