.task-container {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #dce0e0;
  max-height: 400px;
}

.task-list {
  list-style: none;
  max-height: 350px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.task-list::-webkit-scrollbar {
  display: none;
}


.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  margin-bottom: 12px;

  background: #f9fafb;
  border-radius: 10px;

  transition: all 0.2s ease;
}

.task-item:hover {
  background: #f3f4f6;
  transform: translateY(-1px);
}

.task-text {
  font-size: 14px;
  color: #111827;
}

.remove-button {
  padding: 6px 14px;
  font-size: 12px;

  border-radius: 8px;
  border: 1px solid #b1b3b5;

  background: #ffc005;
  color: white;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.remove-button:hover {
  background: #dc2626;
}

.remove-button:active {
  transform: scale(0.95);
}